<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <title>Exercice1</title>
</head>
<body ng-app>
  <!--Création d'un bouton pour l'incrémentation et la décrémentation-->
  <button ng-click="count = count + 1" ng-init="count=0"> + </button>
  <button ng-click="count = count - 1" ng-init="count=0"> - </button>
  <!--Affichage et interprétation de l'incrémentation et de la décrémentation dans un paragraphe-->
  {{count}}
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
</body>
</html>
